[2020-05-11 15:44] edsmall-bodc opened #1 "Test file"
Testing you can attach a file
[Historical Workflow.docx](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4610620/Historical.Workflow.docx)

[2020-05-11 15:45] kamwal commented on #1
I confirmed that I can download this file

[2020-05-11 15:45] #1 closed, assigned to nobody

[2020-05-12 08:59] kamwal opened #2 "Demo issue"
During the interp_climatology routine, I encountered the below error.

`UPDATE_SALINITY_MAPPING: Working on profile  3
Traceback (most recent call last):
  File "L:/users/argo/kamwal/OWC_Python_SSH/owc-software-python/owc_calibration.py", line 73, in <module>
    update_salinity_mapping("/", FLOAT_NAME, USER_CONFIG)
  File "L:\users\argo\kamwal\OWC_Python_SSH\owc-software-python\ow_calibration\upd

[2020-05-12 09:08] edsmall-bodc commented on #2
Looks like a dataset from the CTD reference data has no values in it (thanks to @matdon17 for finding this).

For a numpy matrix, if you subtract NaN from a number (eg. 8 - np.nan) it will return NaN. And you're correct, numpy cannot find the minimum of a matrix of all NaNs.

Would a good proposed fix for this to be to check for a column of all NaNs and remove it from the dataset if we encounter i

[2020-05-12 09:41] matdon17 commented on #2
Just to note that the Argo reference dataset, where there were multiple occurrences of profiles with a single value, has been corrected in the latest release ARGO_for_DMQC_2020V01 on 11th May.

[2020-05-12 10:54] edsmall-bodc commented on #2
Fixed and merged in https://git.noc.ac.uk/bodc/owc-software-python/-/merge_requests/27

@kamwal confirmed the fix was worked with the bad dataset

[2020-05-12 10:54] #2 closed, assigned to edsmall-bodc

[2020-05-12 12:31] kamwal opened #3 "Wrongly set up wmo_boxes"
I set my wmo_boxes_test.mat to have all columns responsible for selecting reference data (CTD, bottle and Argo) to be 0.
During running update_salinity_mapping routine, I obtained the below error.

`UPDATE_SALINITY_MAPPING: Working on profile  0
Traceback (most recent call last):
  File "L:/users/argo/kamwal/OWC_Python_SSH/owc-software-python/owc_calibration.py", line 73, in <module>
    update_sa

[2020-05-12 13:25] kamwal opened #4 "Refactor find_besthist so that it doesn't require 18 arguments"
Currently, the find_besthist function requires 18 arguments to run. This is far too many, looks a bit messy, and can make using the function rather difficult.

I suggest taking some of the arguments out and placing them in a class, especially where the same class can be used for differing data.

Create a class for containing float data. This class can contain the latitudes, longitudes, z vales, an

[2020-05-12 13:27] edsmall-bodc commented on #3
In the matlab version if we retrieve no data from the wmo_boxes the function returns some data that will never be used (since 999 latitude and longitude do not exist). This seems to have been done so that the program doesn't crash.

However, this is probably not a sustainable solution, for 2 reasons:

1. It causes a pretty poorly explained error that doesn't really describe the problem
2. If we ar

[2020-05-12 15:24] gmaze commented on #4
This could be made using the www.github.com/euroargodev/argopy data model that comes with this kind of functionalities already

[2020-05-12 16:15] edsmall-bodc commented on #4
@gmaze That's a great idea. Is it the ArgoDataFetcher class you are thinking of in particular? Correct me if I'm wrong, but it looks like we can collect float data from a square region by specifying latitude and longitude, or using WMO boxes?

If that's correct, we can actually get rid of the WMO boxes too, and fetch all our data using this, as long as we can remove the profile currently being ana

[2020-05-12 16:32] gmaze commented on #4
With the ArgoDataFetcher, you can retrieve data from the Argo reference dataset (last 2019V03 version available in the upcoming days)
The goal of this feature was precisely to make it more simple to request reference data from QC software like OWC ! And yes, it's trivial to make sure the profile currently analysed is not part of it.

The WMO boxes are a non sense in a modern software framework.

A

[2020-05-12 16:44] edsmall-bodc commented on #4
@gmaze I see there are some plotting capabilities as well - I think we should chat at some point about the current OWC output to see if any of your plotting routines can be used here?

[2020-05-12 16:50] gmaze commented on #4
not yet very developed since it's not the core focus of the library (which is to fetch and manipulate argo data), but working on notebooks and visualisation examples
yes, surely a lot of overlap here

[2020-05-12 17:42] edsmall-bodc commented on #4
I guess, for now, I can make the plotting routines that exist in the matlab version in python, with a view to potentially make an argo plotting package, potentially, for all argo focused plotting routines to exist

[2020-05-13 12:52] edsmall-bodc commented on #3
Fixed in https://git.noc.ac.uk/bodc/owc-software-python/-/merge_requests/28

Test has been written to check that if get_hist_region_locations gathers no data that an error is raise telling the user. It also suggest that the user check their WMO matrix, as we expect this to commonly occur if all values are set to 0.

Closing the issue

[2020-05-13 12:52] #3 closed, assigned to edsmall-bodc

[2020-05-14 16:48] gmaze opened #5 "Publishing on Pypi"
For standard users of the software, they should not need to clone the repository to be able to run it, but rather simply install it using pip or conda.
This implies 2 things:
- a proper setup.py and packaging
- a serious refactoring of the code to manage options and configuration parameters outside of the software code (to be honest, I'd like this to be my 1st contribution to the code)

This is al

[2020-05-15 08:43] edsmall-bodc commented on #5
The packaging should be relatively straight forward.

The refactor may be slightly more tricky, though your current codes to fetch argo data will be a big help.

Currently the user has to define many things for the OWC toolbox to run:

**For the update salinity mapping, they need to define:**

- Which data set they want to use from each WMO box (argo/CTD/bottle data) [though we have discussed how

[2020-05-15 10:13] Teddyzander commented on #5
Could we write a class that has setters and getters for these values, and then we can just pass in the class to an update_salinity_mapping routine? Or just have the salinity mapping routine be a method in the class, of course.

Class could contain an object containing all of the argo_profiles fetched from the argo_fetcher routine, variables for the update salinity mapping route, and the update sal

[2020-05-15 10:22] kamwal opened #6 "Setting warning in configurations to prevent entry of swapped values"
I have noticed that currently in Matlab and Python version of OWC there is no warning/throw an error to prevent DMQC operator to enter swapped values in small and large: Lon, Lat, Age parts of the Objective Mapping Parameters section. I run Python and Matlab OWC software with swapped values and in both cases, codes are running and producing map_<WNO>.mat file.

Should we introduce in the OWC code

[2020-05-15 10:26] gmaze opened #7 "Managing calibration and other software options and parameters"
As pointed out by @edsmall-bodc in #5 :

***
Currently the user has to define many things for the OWC toolbox to run:
For the update salinity mapping, they need to define:
-    Which data set they want to use from each WMO box (argo/CTD/bottle data) [though we have discussed how the WMO boxes could be phased out!]
-    The float name they want to analyse
- The maximum number of historical casts th

[2020-05-15 10:26] gmaze commented on #5
Discussion moves toward another topic here, I suggest to continue here #7

[2020-05-15 13:11] Teddyzander commented on #6
@apswong @cabanesc Any thoughts on this?

[2020-05-15 13:40] cabanesc commented on #6
Yes, I think it is a good idea that swapped values throw an error.

[2020-05-15 13:59] gmaze commented on #6
Entering the discussion here, even not being @apswong nor @cabanesc

This would be great as long as part of a parameters validation scheme.

But how would you detect swapped values ?
If you test for one value being larger than the other ('small' should be smaller than 'large' I guess), then in fact, we could imagine that users would simply enter 2 values, in a list, and the software would automati

[2020-05-15 14:44] edsmall-bodc commented on #6
Okay, so we have two proposed solutions:

1. Throw an error if values are the wrong way round
2. If we detect values are the wrong way round we can swap them (should we tell the user this is the case?)/just use a sorted list

I agree that we can just pass them as sorted lists - it means we would be cutting down on arguments too, which is always nice.

We can only do this if we NEVER expect users t

[2020-05-18 14:08] kamwal opened #8 "Problem in selecting Argo referenced data"
Durring running the OWC analysis using only Argo referenced data only, I encountered the below error:

` UPDATE_SALINITY_MAPPING: Working on profile  3
Traceback (most recent call last):
  File "L:\users\argo\kamwal\OWC_Python_SSH\owc-software-python\ow_calibration\get_region\get_region_data.py", line 172, in get_region_data
    grid_long = wrap_longitude(grid_long)
  File "L:\users\argo\kamwal\OW

[2020-05-18 15:27] cabanesc opened #9 "problem with tbase_decoder?"
Hi Ed,

I run the owc_calibration.py for a deep float (6902881) that I have just DMQCed.
I am using CTD boxes only from CTD_for_DMQC_2019VO1

Source file and configuration file are here:
[6902881_test1.tar.gz](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4645000/6902881_test1.tar.gz)

I got a warming on profile#0 and an error on profile #54

UPDATE_SALIN

[2020-05-18 20:07] apswong commented on #6
Hi, I want to check a few things before I reply to this query.  Please give me a few days.  Thanks.

[2020-05-18 20:22] edsmall-bodc commented on #9
I will see if I can reproduce when we move to the next phase and get back to you. I assume this ran fine in the matlab version?

One of my major concerns was the t-base decoder because I had to reverse engineer it, and had very limited resources to check it was absolutely perfect, thought I tested it as much as was feasible. I would have been shocked if it didn't break at some point.

It must be a

[2020-05-18 20:23] edsmall-bodc commented on #8
Is there a way for us to check how much argo data is in each WMO box?

[2020-05-18 20:24] edsmall-bodc commented on #9
@cabanesc do you mind just copy and pasting your objective parameters here too? Just to be sure that when I try and reproduce the bug we have the same settings

[2020-05-18 20:25] edsmall-bodc commented on #6
@apswong No worries, take all the time you need - bug fixes for update_salinity_mapping will not begin until the end of phase 1, and we are flexible on when that time will be

[2020-05-18 20:35] cabanesc commented on #9
# ===============================
        #
        #    Constants File Path
        #

        'CONFIG_DIRECTORY': "data/constants/",
        'CONFIG_COASTLINES': "coastdat.mat",
        'CONFIG_WMO_BOXES': "wmo_boxes_ctd.mat",
        'CONFIG_SAF': "TypicalProfileAroundSAF.mat",

        # ===============================
        #
        #    Objective Mapping Parameters
        #

        # ma

[2020-05-18 20:36] edsmall-bodc commented on #9
Thank you!

[2020-05-19 09:04] edsmall-bodc commented on #8
After a quick discussion with @kamwal we have found that the program isn't actually doing anything wrong. The matlab version also finds no data for the same profile.

However, rather than throwing an error here, we should stop the analysis at this point and move on to the next profile.

So my proposed fix is it remove the try/except clause from get_region_data and instead just check to see if we g

[2020-05-26 12:01] gmaze opened #10 "Migrating repo from NOC to EUROARGODEV"
In order to migrate the repository from NOC to github servers at EUROARGODEV:

## Requirements:
- [x] Check if the [Github import tool](https://github.com/new/import) is effective. @gmaze tested it with success at https://github.com/gmaze/owc-software-python. All repo history and contributions are imported properly.
- [x] Check if the [CI workflow for NOC](https://git.noc.ac.uk/bodc/owc-software-p

[2020-05-26 13:14] edsmall-bodc opened #11 "Reduce amount done per function"
It goes without saying that this is low priority, for now.

Some functions, such as update_salinity mapping, are doing far too much leg work for a single function. Because of this, they require numerous local variable definitions, and require a huge amount branches (nested for and if statements).

Not only does this make them somewhat difficult to test (as the testing suite to hit all possible bra

[2020-05-26 13:16] gmaze commented on #11
A more modular approach with class and methods is probably more appropriate here

[2020-05-27 10:24] apswong commented on #6
Hi, sorry for the late reply.  I would issue a warning if MAPSCALE_*_SMALL > MAPSCALE_*_LARGE; something like "Are you sure? Press Y to proceed, N to escape and correct the entry in the config file."

I would not automatically put the entries into a sorted list and re-assign the entries automatically.  The users should make 100% of the decisions about their parameter entries. For most users, these

[2020-05-27 10:48] edsmall-bodc commented on #6
@apswong Thanks for the detailed response.

Taking that into consideration, the proposed fix therefore would be to place a warning as described above, something along the lines of:

WARNING: <small paramater name> is larger than <large parameter name>. Are you sure you wish to proceed? y/n?

We could even print the parameter values, if that is helpful.

The user is then notified of the oddity, and

[2020-05-27 10:56] apswong commented on #6
Sounds great.  Thanks!

[2020-05-27 12:05] gmaze commented on #6
I don't think having the user to answer a warning is a good idea.
Whenever the tests will be run automatically, this will fail or simply makes it much more complicated to run.
A simple warning should be enough to make the user know about this, and assume it.

[2020-05-27 12:15] apswong commented on #6
Good point! Yes, I often run the calibration as a batch job overnight with multiple floats - I wouldn't want to be sitting in front of the computer answering Y or N all night long.  So, yes, a simple warning message somewhere in the output will suffice.  Thanks for pointing this out, @gmaze.

[2020-05-27 12:17] edsmall-bodc commented on #6
We could set it so the user only has to press yes once, as a compromise? Other wise there is a chance that they could miss this warning since the console already prints all the parameters and each time we move onto a new profile.

[2020-05-27 12:24] gmaze commented on #6
This doesn't solve the problem raised above, you still have to press a key ...
We should believe in the user and its ability to read the program output

[2020-05-27 12:25] edsmall-bodc commented on #6
Yes, but only once, right at the beginning of the analysis

[2020-05-27 12:29] gmaze commented on #6
1 or 10 is the same issue
during an execution in batch mode, like with automatic scripts running over night for instance, this would be an issue, or at least a complication for the user
you still have to manage this std input

[2020-05-27 12:50] edsmall-bodc commented on #6
I'll let @apswong, @cabanesc and @kamwal comment on this, since this is a user issue, as you've said.

I think, from a none-DMQC operator perspective, I would rather be warned once about this and have to manually override it than risk missing the warning and running a batch of floats with the wrong analysis parameters set, as

a) It may be hard for an operator to spot incorrect settings post-analy

[2020-05-27 13:30] gmaze commented on #6
There is another possibility: let the user defines the level of parameter checks.
A global package option can be set to defined if the user want an error raised or a simple warning if the validation/check of the parameter analysis is raising non blocking issues

[2020-05-27 13:45] cabanesc commented on #6
Hi,
I can't see any obvious reason why I would like to swap small/large scales, other than to experiment with a given float.   In this case, I would be behind the screen, ready to press a key.
If I switched scales by mistake, I would prefer the program to stop rather than  realize later that my analysis was wrong.
 I would therefore prefer solution 2.  We shouldn't have to manually enter Y/N very

[2020-05-27 14:02] edsmall-bodc commented on #6
@cabanesc Thanks for the insight.

So a new proposal here, as combination of the two.

Allow users to change the parameter validation settings, but have the default setting to require manual override (only once) during analysis if we detect some strangeness in the parameter settings (ie. large/small parameters the wrong way round).

Does any other ideas, or doesn't like this idea?

[2020-05-27 14:07] apswong commented on #6
Yep, let's go with that.

[2020-05-28 12:43] kamwal opened #12 "Python vs Matlab speed differences"
I found relatively large differences (~40 seconds) in speed per profile in the update salinity mapping calulations. This potentially could be related with a capability of my computer or there is something that could be improved in Python code.
Did anyone have a simmilar Python code behaviour?

WMO num: 1901847
WMO boxes: wmo_boxes_ctd.mat
Refence data: CTD_for_DMQC_2019V01
Code evaliation times fo

[2020-05-28 13:23] cabanesc commented on #12
Hi Kamila,

I noticed the same,  with  longer run times  with the python code. In the matlab version, most of the time is spent reading the climatology files (update_salinity_mapping stage).  I guess  it can be the same with the python code . Also, python code currently reads .mat files, which may not  be optimal..??

[2020-05-28 14:41] edsmall-bodc commented on #12
@cabanesc That's correct, this isn't optimal. We made this decision initially to make it super simple to compare the outputs from the matlab version. It's a simple change, and @gmaze and I have already started to engage in discussions about we we should use instead, perhaps even allowing users to choose what file formats to use.

Above that, I already have some places that may be acting as bottle

[2020-06-02 13:06] gmaze commented on #10
@edsmall-bodc do you confirm that the repo is located here:
https://git.noc.ac.uk/bodc/owc-software-python

the last master commit was 3 weeks ago ...

(since I have seen other links based on your NOC git fork at https://git.noc.ac.uk/edsmall)

[2020-06-02 13:07] edsmall-bodc commented on #10
@gmaze This is correct

[2020-06-02 13:09] gmaze commented on #10
also @matdon17 @edsmall-bodc do you agree to change the name of the repo from "owc-software-python" to "owc-software" ?
It's usually poor practice to have the language in the repo name

[2020-06-02 13:11] edsmall-bodc commented on #10
I agree to the above. The initially naming scheme was purely because I wasn't sure if there was a company matlab version.

I realise euroargodev doesn't have the matlab version, but if the code is eventually moved to the same place as the matlab version, what title would you suggest to distinguish between the two?

[2020-06-02 13:14] matdon17 commented on #10
Agreed re: python, but isn't 'software' redundant? Maybe just owc? or argodmqc_owc?

[2020-06-02 13:15] gmaze commented on #10
to be honest I don't know, it's just that renaming a repo is not really recommended, so we may want to have it right from the beginning. but this is not dramatic

and yes "software" is not necessary either

I like your "argodmqc_owc"
other possibilities:
pyowc
psalcalib

[2020-06-02 13:17] gmaze commented on #10
let's go for "argodmqc_owc" ?

[2020-06-02 13:17] edsmall-bodc commented on #10
I'd like to keep the owc to honour the original creators.

owcpy, to follow the numpy, scipy, etc convention?

You want me to rename the gitlab version before you move it?

[2020-06-02 13:18] gmaze commented on #10
Nope

[2020-06-02 14:09] gmaze commented on #10
almost there !

[2020-06-02 14:28] gmaze commented on #10
Hi there,
All done !
Please have a look to the readme and tell me the access rights settings you want !

[2020-06-02 14:39] gmaze commented on #10
Please note, that there is a possible "transfer" of issues between repositories,

so it is feasible to migrate everything from https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool to here as well.

I think it would be more consistent to have everything in the same place, and this is still feasible since there is only 2/3 contributors to the alpha-testing

[2020-06-02 14:40] edsmall-bodc commented on #10
Looking at the settings and README now. I agree to moving issues to be with the code.

[2020-06-02 14:48] edsmall-bodc commented on #10
@gmaze Should I be added to the list of people highlighed here: https://github.com/orgs/euroargodev/people

I will make a new branch tomorrow, write some code, and push it, and make a merge request to check everything is working correctly, but all looks good from my side here.

In terms of access, I think at this point no merge request should be able to be merged in without

1. My consent
2. Passi

[2020-06-02 15:00] gmaze commented on #10
I guess yes ! But this is supposedly @kamwal role to invite you to the euroargodev organisation (ask her)
In the mean time, I have invited you to argodmqc_owc and your invitation is pending ... (you'll be listed as external collaborator until @kamwal get you in)

Good

    1. My consent
    1. Passing all unit tests
    1. Passing static code checks

All off these can be enforced in https://github

[2020-06-02 15:01] gmaze commented on #10
In the mean, I'm just adding a binder link to play with the repo as it is,
and then I'll move any changes to my fork

[2020-06-02 15:30] edsmall-bodc commented on #10
At some point it would be nice to have a chat about binder - maybe when you have some time in July. Would just like to understand what it currently is, and (seeing as it's in a testing phase) what it is trying to be!

[2020-06-03 09:43] gmaze commented on #10
yes, and it has a lot to do with the packaging of the software, pip distribution, where to put and how to handle ancillary data, etc ...

[2020-06-03 14:14] gmaze commented on #10
I think the can close this issue when merging https://github.com/euroargodev/argodmqc_owc/pull/4

[2020-06-04 11:19] edsmall-bodc commented on #10
I'll review and pull it in during phase 2 of testing

[2020-06-04 15:55] edsmall-bodc commented on #12
I've been doing some general experimentation, and I think a lot of the slowdown is most likely coming from the use of the stack and append functions for forming arrays.

Most of the time when we are generating a large array, we know how big the final array is going to be. Because of this, we can create an NxM array in memory and fill it with random values, and then we can change these values to th

[2020-06-05 06:54] kamwal opened #13 "Python crach when no good climatology data has been found"
I run the analysis for very long float including 269 profiles. At profile 265, I received an error message that there has been no good climatology data. That is kind of error that we expect. However, Python code is not generating map_<WMO>.mat file for the profiles that were sucesfully analysed before crash.
It would be worth to set in the code for lack of coog climtology data python should skip t

[2020-06-08 06:55] cabanesc opened #14 "Problem when loading reference data ?"
Hi Ed,

update_salinity_mapping.py crashed at profile 1 when I ran it for float 3901960 (ref ARGO2019v03), with the following error:

UPDATE_SALINITY_MAPPING: Working on profile  0
time elapsed:  5.4  seconds
UPDATE_SALINITY_MAPPING: Working on profile  1
Traceback (most recent call last):
  File "/home1/homedir5/perso/ccabanes/dvlpRD/Argo/argodmqc_owc/ow_calibration/get_region/get_region_data.py"

[2020-06-08 09:58] kamwal commented on #14
I think that I have found the same issue with  reading Argo reference data (ARGO_for_DMQC_2020V01.mat) and logged it to [https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/8](url)

[2020-06-09 08:21] edsmall-bodc commented on #14
Looks to be the same as [this issue](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/13)

@cabanesc can you confirm it is the same bug? We can then close this issue as a duplicate issue

[2020-06-09 08:27] cabanesc commented on #14
Yes it's the same bug, we can close the issue.

[2020-06-09 08:27] #14 closed, assigned to nobody

[2020-06-09 09:48] cabanesc opened #15 "Update_salinity_mapping_test.py failed: problem in selecting reference data?"
Hi Ed,

When I run update_salinity_mapping_test.py, it fails for almost all the floats I tested.
 I hope I am not doing anything wrong, but it might be worth checking on your side.
Here is an example of a float that failed the test:
float : 6902766
[6902766.mat.gz](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4750657/6902766.mat.gz)

configuration_file:

[2020-06-09 12:56] edsmall-bodc commented on #15
This does appear that the python version is selecting too much data, and yes, outside of the area highlighted by your criteria. It doesn't look like you are doing anything wrong (unless the parameters in your set up file are different from each other?).

I will investigate.

[2020-06-09 13:04] edsmall-bodc commented on #15
Just to add, it makes sense that this would cause the mapped values validation tests to fail, as the cluster to the northwest of the float profiles would probably cause significant change here.

[2020-06-09 13:06] edsmall-bodc commented on #15
And yes, the "squareness" of the data selected from the python version is suspicious - it does seem to simply be selecting all the data in the wmo box, and not filtering any out. I will investigate this next week, and I will likely make this task my top priority for during the start of my next sprint.

[2020-06-10 11:27] kamwal opened #16 "Bug with CONFIG_MAX_CAST data selection ?"
I have found error associated with update salinity mapping. Debuger is pointing to the number of CONFIG_MAX_CAST.
I am including the obtained error below:

`UPDATE_SALINITY_MAPPING: Working on profile  33
Traceback (most recent call last):
  File "L:/users/argo/kamwal/OWC_Python_Test_1/owc-software-python/owc_calibration.py", line 73, in <module>
    update_salinity_mapping("/", FLOAT_NAME, USER_C

[2020-06-11 07:21] cabanesc commented on #16
Could it be the same problem as issue  #9 ?

Both  report a  similar error :
python/ow_calibration/tbase_decoder/tbase_decoder.py", line 70, in get_topo_grid
elev_file.seek((i + decoder [3]) * 360 * 12 * 2 + decoder [0] * 2)
OSError: [Errno 22] Invalid argument

[2020-06-11 07:46] kamwal commented on #16
Thank Cecile, Yes it looks like the same issue for me.

[2020-06-11 07:48] #16 closed, assigned to nobody

[2020-06-19 06:55] edsmall-bodc opened #17 "Repository and package name"
Initially, the name of the repository was owc_python. However, this was changed because having the language name in the title of the repository is highly unusual.

It was suggested to go with argodmqc_owc, as it was thought that this gives the user a lot of information: It's an argo product used for delayed mode quaility control, and it continue to honour the original creators of Owens, Wong, and

[2020-06-19 07:01] gmaze commented on #17
Using "py" in a python software is very usual, this could make the diff with the matlab software

[2020-06-19 07:06] edsmall-bodc commented on #17
@gmaze Yeah, I like that. I remember owcpy or something being thrown around as a suggestion last time.

[2020-06-19 07:33] gmaze commented on #17
I'm not sure in English, but ``owcpy`` in French is not easy to say ;-)

[2020-06-19 07:42] edsmall-bodc commented on #17
Not easy to say in English either! We can try and come up with something snappy.

- pyowc (could be pronounced py - ock?)
- dmqcpy or dmqc_py
- salcorpy (salinity correction python package)

Do we feel we should keep the OWC name in there somewhere? To:

1. Honour the original creators
2. To ensure no current users get confused about what this python package is

[2020-06-19 08:04] gmaze commented on #17
We should definitely keep the OWC name *around* there, this is the defining term for this software user community.
This means that we could have it in the tagline/definition that goes along the software nearly everywhere:

- [ ] "salcorpy: OWC salinity calibration for Argo"
- [ ] "pycalib: OWC salinity calibration for Argo"
- [ ] "argopy_calib: OWC salinity calibration"

I tend to prefer *calibrat

[2020-06-19 08:08] matdon17 commented on #17
We already have a matlab_owc so the horse has bolted in terms of having a name in the title, and my main concern is clarity for users. when they land on its 'production' repo of https://github.com/ArgoDMQC

I am largely indifferent as to the exact name.  For instance I'd be happy with python_owc, owc_python, py_owc or owc_py.  I think trying to describe what it does in the name (as opposed to doin

[2020-06-19 08:42] gmaze commented on #17
Agreed !

Taking you to the word and looking for acronyms I had the amazing solution below [from acronymify](https://acronymify.com/search?q=argo+salinity+calibration+python)

**"ASCOT": Argo Salinity CalibratiOn in pyThon**

Would it be nice to have this elegant name (*a man's broad silk necktie* by the definition) and no difficulty to find a logo with it ?

I can't resist the *wink* to the devel

[2020-06-19 11:42] apswong commented on #17
The Matlab version will not be deprecated.  Hence the Python repo should be named clearly so users do not get confused what this package is.  I would suggest:

"py_owc: OWC salinity calibration in Python"

This makes it very clear to the users that they have 2 choices: py_owc or matlab_owc.

[2020-06-25 09:09] kamwal opened #18 "scale_age_small in Python vs scale_age in Matlab"
In using the map file generated from Matlab I found that it will not work in Python due to different name of the small scale_age.
This time scale in Matlab are "scale_age" and "scale_age_large" where in Python are "scale_age_small" and "scale_age_large".

The error message is as follow:

`Traceback (most recent call last):
  File "owc_calibration.py", line 75, in <module>
    update_salinity_mappi

[2020-06-25 09:16] kamwal opened #19 "Out of bounds for ptmp in find_10thetas"
In running the Python code I found the following error in find_10theta:

`L:\users\argo\kamwal\OWC_Python_Test_2\argodmqc_owc\ow_calibration\find_10thetas\find_10thetas.py:175: RuntimeWarning: invalid value encountered in greater
  if np.nanmax(ptmp[:, depth]) > theta_levels[level] > np.nanmin(ptmp[:, depth]):
L:\users\argo\kamwal\OWC_Python_Test_2\argodmqc_owc\ow_calibration\find_10thetas\find_10

[2020-06-25 10:34] apswong commented on #18
I like the Python names of "scale_age_large" and "scale_age_small".   @cabanesc (hi Cecile!) didn't rename "scale_age" to "scale_age_small" in Matlab OWC, because the intention was to make the output backward-compatible with the old OW output (which only used a single "scale_age").  For the Python UAT, we can simply do our own rename of "scale_age" to "scale_age_small" in the test input files.  It

[2020-06-25 12:26] cabanesc commented on #18
I agree, we can rename scale_age to scale_age_small in the input file.
Cecile

[2020-06-25 12:30] kamwal commented on #18
Thank you Annie for clarification. Yes, I agree it is not a bug and I also would prefer  "scale_age_small" instead on only "scale_age".
I should mention before that I rise that point just to let you and Cecile know about that difference, when you will use the Matlab output in Python code.

[2020-06-25 14:40] kamwal commented on #19
In the cal_piecewisefit.py function we found a bug where "unique_ptmp" has been called twice.

[code]

The code is not including ptmp data from mapped file. This needs to be changed to:

[code]

[2020-06-25 17:01] edsmall-bodc commented on #19
During the algorithm to find 10 theta levels we need to find all the indices in each column that does not contain a nan. We then take the potential temperature at this point, and find out how much the potential temperature in the previous and next water column differs from this point, like so:

`ptmp_diff =potential temperature here - [last water column at same depth, the current water column, the

[2020-06-25 17:36] edsmall-bodc commented on #19
@kamwal A fix for this problem can be found [HERE](https://github.com/euroargodev/argodmqc_owc/pull/15)

Checkout the branch and let me know if the problem is resolved. The branch does not contain your config file or your mapped output and float source.

[2020-06-25 17:44] edsmall-bodc commented on #19
Outputs seem to match to me. Let me know if the branch resolves this.

![image](https://user-images.githubusercontent.com/55086028/85771148-8ca35f00-b713-11ea-974a-244346a6a536.png)

![image](https://user-images.githubusercontent.com/55086028/85791789-532a1e00-b72a-11ea-9ed3-068ecc639169.png)

[2020-06-26 07:55] edsmall-bodc commented on #18
Hello! I guess the only foreseeable problem is this: What if someone wants to take an old matlab file and run it through the python version of the calculate_piecewisefit?

I agree that changing it in the matlab version for future files is a good idea, and I understand (for legacy reasons) why you didn't change the variable name when adding the large_scale_age.

What I can do is simply put a try an

[2020-06-26 08:19] cabanesc commented on #18
Yes, I think it is a very good solution. We could do the same in the matlab version and move to scale_age_small too.

[2020-06-26 08:24] edsmall-bodc commented on #18
Will make a fix today and show you the branch. @cabanesc, are you okay being the reviewer? Usually I'd suggest checking out the branch, but with such a small change I think you can review by just looking at the code.

[2020-06-26 08:25] apswong commented on #18
I disagree.  I think the Python code should make a clean break from this legacy issue and insists that users input "scale_age_small" and "scale_age_large".   Instead, we should resolve this legacy issue in Matlab OWC.

[2020-06-26 08:31] edsmall-bodc commented on #18
@apswong Do you guys keep all the mapped output files for each analysis somewhere? My only concern is that if someone wants to re-calibrate using an old mapped file or something. They may not want to remap the salinity too because the update salinity mapping portion has changed a little over the years, so might yield a slightly different result.

This is a pretty niche situation though. Are you su

[2020-06-26 09:12] apswong commented on #18
Yes, we keep the mapped output files.  If the mapped output file is produced by the old OW mapping, it should contain a single variable "scale_age".  If it is produced by the new OWC mapping, it should contain 2 variables "scale_age_small" and "scale_age_large".  That is one of the main features that distinguishes an OWC map from an OW map.  How the Matlab users manage their mapped output files is

[2020-06-26 09:13] apswong commented on #18
@cabanesc  and @apswong  should sort this out in OWC Matlab.

[2020-06-26 09:31] edsmall-bodc commented on #18
@apswong Would you like me to create an issue in the matlab repo?

[2020-06-26 09:43] apswong commented on #18
I would ask @cabanesc  if she wants that logged as an issue in the matlab repo.  I'm not much of a Github, or Git, person.  But I made a big note of it in my list of things to do, in pen and paper ;)

[2020-06-26 09:50] cabanesc commented on #18
I agree that we need to solve this problem in the OWC matlab.  @edsmall-bodc  can add an issue in the matlab repo

[2020-06-26 09:54] kamwal opened #20 "Trimmed size of variables in CAL_[WMO].m Python output"
I found that in the cal_[WMO].m Python output the size of four variables are smaller than those from Matlab version. These variables are: sta_mean, sta_rms, time_deriv and time_deriv_err.
In Matlab the size of these variables is 1x 215, where the last 37 values are NaN. In Python the size is 1x 178, and data includes only values not NaN. it looks like Python is tryming NaN values.
It would be good

[2020-06-26 10:09] kamwal opened #21 "Default values in set_calseries.py"
In Python code the default values used in the set_calseries.py of _use theta_ and _pres_ are set as 0.  This value should be replaced by empty bracket [] to allow the system to automatically select the best theta levels.

`breaks = []
        max_breaks = 4  # 0 for linear trend, -1 for offset
        calseries = np.ones((1, no_profiles)).flatten()
        # example for splitting time series at pr

[2020-06-26 10:31] edsmall-bodc commented on #18
Closing this issue, as we have assessed that this is a matlab legacy issue, not a python one.

[2020-06-26 10:31] #18 closed, assigned to nobody

[2020-06-29 12:29] edsmall-bodc commented on #19
Issue has been resolved and pulled in [here](https://github.com/euroargodev/argodmqc_owc/pull/15). Closing.

[2020-06-29 12:29] #19 closed, assigned to nobody

[2020-06-29 12:37] edsmall-bodc commented on #13
Could be a simlar error to [this git issue](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/8)

[2020-06-29 12:52] kamwal opened #22 "Different size and not correct numbers in fcoef variable in cal_<WMO>.mat"
I found that in Python output, in cal_<WMO>.mat the "fcoef" variable has size 1x4. All of these four values in the row have the same number. That is in disagreement with output from Matlab, where the size of "fcoef" in 1x2 and these two values have different number.

WMO: 1901847
Reference data: CTD_for_DMQC_2019V01
WMO boxes: wmo_boxes_ctd.mat
set_calseries:

`  # Config calseries parameters

[2020-06-29 12:54] edsmall-bodc commented on #22
@kamwal Can you also just attach the outputs that disagree? Just in a comment, so I have the actual numbers too. Thanks.

[2020-07-01 09:15] kamwal commented on #22
Matlab output from right (fcoef), Python output from left (fcoef_py)

![image](https://user-images.githubusercontent.com/57108044/86224405-bed41700-bb80-11ea-9a37-5517ae3696ca.png)

[2020-07-01 10:13] kamwal opened #23 "Large error and many NaN columns in error calculations in cal_<WMO>.mat"
In the Python output of cal_[WMO].mat, I have found  relatively large values in variables including error calulations: _cal_SAL_err_, _cal_COND_err_ and _ pcond_factor_err_ variable compared with those from Matlab outout.

Moreover, in Python outout there are many columns with NaN that are not present in Matlab output. There are missing data in the begining and in the end part of the variable.

To

[2020-07-01 12:08] edsmall-bodc commented on #12
@gmaze I will post the results from the profiler on this thread, if that suits you? I have a couple of profiles that are particularly slow, so will run the same profiles in the matlab version so we can compare results.

The problem is in update salinity mapping. For all the testing so far, the calibration section has been fast.

[2020-07-02 08:51] kamwal opened #24 "Setting exact brakepoints in set_calseries_py is not working"
I was trying to set an exact brakepoint in the float timeseries and I hit the following error:

`C:\Users\kamwal\Anaconda3\envs\Project_test\python.exe L:/users/argo/kamwal/OWC_Python_Test_2/argodmqc_owc/owc_calibration.py
Traceback (most recent call last):
  File "C:\Users\kamwal\Anaconda3\envs\Project_test\lib\site-packages\scipy\io\matlab\mio.py", line 39, in _open_file
    return open(file_lik

[2020-07-02 11:01] edsmall-bodc commented on #24
@kamwal Apologies, it's just missing a set of brackets when concatenating the matrices together in set_calseries.

However, this has popped up another instance in fit_cond where we want to use indices but they are stored as a float, rather than as an integer. Will sort out for you this evening so you can test this part of the calibration tomorrow.

[2020-07-02 11:01] kamwal opened #25 "Error in setting max_brake in set_calseries.py for values below 4"
I cant set the _max_brake_ values smaller than 4 in the set_calseries.py

Error for max_brake : -1

`C:\Users\kamwal\Anaconda3\envs\Project_test\python.exe L:/users/argo/kamwal/OWC_Python_Test_2/argodmqc_owc/owc_calibration.py
L:\users\argo\kamwal\OWC_Python_Test_2\argodmqc_owc\ow_calibration\find_10thetas\find_10thetas.py:175: RuntimeWarning: invalid value encountered in greater
  if np.nanmax(pt

[2020-07-02 11:03] edsmall-bodc commented on #24
Also, we don't need the objective mapping parameters for errors in the calibration - they are only relevant for the salinity mapping.

Instead, what you should log is your calseries parameters (usually line 75 to 92 in set_calseries)

Example:

`    except FileNotFoundError:

        # Config calseries parameters

        breaks = []
        max_breaks = 4  # 0 for linear trend, -1 for offset

[2020-07-05 19:37] cabanesc opened #26 "Error in fit_cond ?"
Hi,
I get this error when running the code for the float 6902766.

[6902766.mat.gz](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4871226/6902766.mat.gz)
[map_6902766.mat.gz](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4871227/map_6902766.mat.gz)

Traceback (most recent call last):
  File "owc_calibration.py",

[2020-07-06 02:53] edsmall-bodc commented on #26
Do you mind posting your calseries parameters here too? The config parameters don't have too much to do with the piecewise fit stuff! Thanks

[2020-07-06 06:32] edsmall-bodc commented on #26
Looks like nbr is set as an array/list here, not a number, so it's not happy doing the comparison.

I'll have a look at the matlab version and report back.

[2020-07-06 07:46] gmaze commented on #17
Is everybody happy with **pyowc** ?

Thumbs up or down please

We have to conclude on this because we gonna need a name for software packaging and distribution

[2020-07-06 07:49] apswong commented on #17
py_owc please.
So it's similar to matlab_owc.

[2020-07-06 07:56] gmaze commented on #17
ok, let's go for:
# py_owc

[2020-07-06 08:57] kamwal opened #27 "Add automatic option to display and save all diagnostic plots"
Currently, the Python code is only displaying plots without  saving them to the  data/floats_plots directory.
The plots need to be save manually via the plot window.
It would be worth to add the automatic option to save all plots in one go.
I think that the most recommended format still can stay as pdf/.eps.

Worth to note, that to display another diagnostic plot I need to close the previous plot.

[2020-07-06 09:30] gmaze commented on #7
The configuration should not come in the arguments of ``update_salinity_mapping``.
This is inherited from the Matlab way of running the software.
Must not survive in the Python version !
The configuration is more like a *context*.

We should also use configuration files similar to the [Matlab ow_config.txt file](https://github.com/ArgoDMQC/matlab_owc/blob/master/ow_config.txt).
This will be a nice

[2020-07-06 10:07] edsmall-bodc commented on #7
Okay, this seems like a good middle ground.

So there are default values in `ow_config.txt`, but they are easily editable before running the salinity mapping.

Did you say you wanted to separate the parameter options and the directory set up variables?

[2020-07-06 10:09] kamwal opened #28 "Legend range in T/S plot of uncalibrated and calibrated float data"
In Python version of T/S plot of uncalibrated and calibrated float data, the legend is displying only elements for six profiles, from the range between 0 and 25 profiles. The legend should represent the profiles from the entire length of the float life, e.g. every 5th profile.

After consultation with Ed, the code should display in legend max 30 elements. At the moment, code is displying elements

[2020-07-06 10:21] gmaze commented on #17
One important thing to note, since we gonna have:

1. a name for the repository url: **argodmqc_owc** at this point. This name is to be considered only for developers, users won't have to see this one.

2. a name for the software distribution, ie the name people will use to search and install it, **py_owc** as defined above:
[code]
3. a name for the library to be imported from a Python session: th

[2020-07-06 10:22] edsmall-bodc commented on #17
@gmaze I'm happy to rename the top level code to py_owc if it helps with clarity

[2020-07-06 10:28] gmaze commented on #17
You mean to rename folder "ow_calibration" to "py_owc" ?

[2020-07-06 10:30] gmaze commented on #17
I think it would be nice yes.
It's always confusing and frustrating to install "blabla" and to fail in importing "blabla" !

[2020-07-06 10:30] kamwal opened #29 "Missing separation line in Plot of vertical averaged salinity"
I found that plot with the vertically averaged salinity does not include the zero line. I think that for operators it is very usefull line to quickly check the float behaviour whether float shows negaitve or positie anomalies.

There is also no separation line  at 1, in the plot of the potential conductivity miltiplicative correction.

Left -Python plot; Right -Matlab plot
![image](https://user-im

[2020-07-06 10:30] edsmall-bodc commented on #17
I agree, it's nice when the `install <name>` is the same as the `import <name>`

[2020-07-06 10:39] edsmall-bodc commented on #29
Okay, Easy enough to add. It is always at 1 in the first plot, 0 in the second?

[2020-07-06 11:00] gmaze commented on #5
Dear all,
In order to package the software correctly, we need to make a decision with regard to third party libraries used by **py_owc**, especially for plotting functionalities, to be included.
This means that when a new user will install **py_owc**, it will have to install other stuff as well. In same cases, users already have these (eg numpy), but in others, this may not be the case (eg geopand

[2020-07-06 11:29] apswong commented on #5
The plots are essential.  I don't understand the difference between (1) and (2).  One way or another the user will have to produce the plots.  Does (1) make the plots optional?

[2020-07-06 11:32] kamwal commented on #29
Yes!

[2020-07-06 11:37] apswong commented on #17
Can the repo url: argodmqc_owc also be renamed to py_owc?

[2020-07-06 12:35] gmaze commented on #5
When we want to distribute a python software, we need to explicitly define a list of third party libraries, supposedly required for the software to run. Solution 1 does not include plotting 3rd party lib., Solution 2 does.

- Solution 1 makes sure that users will be able to do the OWC maths, we don't care how user will to plots
- Solution 2 makes sure that users will be able to do the OWC maths an

[2020-07-06 12:36] gmaze commented on #17
yes, we can rename it,
although this is less problematic than **py_owc** vs **ow_calibration** when we install/use it

[2020-07-06 13:12] kamwal opened #30 "Corrections to errorbars in plot with salinities at specific theta levels"
In the Python plot presenting the time series of salinity from float and mapped salinity at specific theta level, I have found few elements that can be corrected:
- the suggested, green errorbar should be continous for the entire float, not only at places where profile is available.
- the green line of suggested correction should be plotted in background or should be removed. At the moment, the gr

[2020-07-06 13:36] apswong commented on #5
OK, I see - this is more of a software packaging dilemma. (1) is the more modular approach, which may be better for software management.

[2020-07-06 13:50] kamwal opened #31 "Missing plot - Salinity anom on theta"
The the master code of OWC code there is missing of one diagnostic plot of the time series of salinity data plotted on theta levels, for both uncalibrated and calibrated data.

The Python version of this plot is created and ready to use, however Ed had accidently forgot to move it to master branch.

Matlab version of this plot

![image](https://user-images.githubusercontent.com/57108044/86600285-c

[2020-07-06 14:55] gmaze commented on #17
Please, now see: https://github.com/euroargodev/argodmqc_owc/issues/23#issuecomment-654273356
We basically can't use `py_owc` because it is changed to `py-owc` by the distribution platform.
I propose to simply work with **pyowc**, which still links to the Matlab counter part easily.

[2020-07-07 07:15] cabanesc commented on #26
The config parameters are needed in fit_cond to compute the covariance matrix (build_cov)
The calseries parameters are the default ones.

[2020-07-07 08:11] kamwal opened #32 "Error: zero-size array to reduction operation maximum"
Durring running Python code to test plots I have found the following error. This error is appearing after generating the first, trajectory plot. After this error, the code is not generating any other plots.

`C:\Users\kamwal\Anaconda3\envs\Project_test\python.exe L:/users/argo/kamwal/OWC_Python_Test_2/argodmqc_owc/owc_calibration.py
Traceback (most recent call last):
  File "L:/users/argo/kamwal/O

[2020-07-07 08:15] kamwal commented on #28
The minor note is that both uncalibrated and calibrated plots from Python code do not have float number in the plot title.

[2020-07-07 09:10] gmaze commented on #17
thanks for your answers
So at some point the software and library will be named **pyowc**, we won't change the repo name (yet).

# pyowc

[2020-07-07 09:10] #17 closed, assigned to nobody

[2020-07-07 09:17] edsmall-bodc commented on #26
Ah, of course! Thank you

[2020-07-07 10:21] kamwal opened #33 "Missing coastline and bathymetry"
I have found that for some floats Python code is not displying coastline contours of continents and bathymetry in trajectory plot.

Left plot -Python verion; Right plot- Matlab version
![image](https://user-images.githubusercontent.com/57108044/86767177-7f577000-c043-11ea-8c2d-b6df48574cc5.png)

[2020-07-07 11:25] edsmall-bodc commented on #33
Odd! Also looks like the points should be a little smaller?

[2020-07-07 11:26] kamwal commented on #33
Yes, that is also true. It would be good to have them a bit smaller.

[2020-07-07 12:08] edsmall-bodc commented on #31
Can I ask, when it says "salinity anomaly" what is it actually referring to? How different the original float profile is to the calibrated version? Or how different the original is to the mapped salinity? Etc.

[2020-07-07 12:09] edsmall-bodc commented on #31
If I remember correctly, this plot shows up twice. Is one the difference between float salinity and mapped salinity, and the other the difference between calibrated salinity and mapped salinity?

[2020-07-07 12:10] edsmall-bodc commented on #28
This will be fixed in [THIS PR](https://github.com/euroargodev/argodmqc_owc/pull/22)

[2020-07-07 12:52] edsmall-bodc commented on #33
After a quick investigation with @kamwal it became obvious that some floats operate on 0-360, not -180 to 180. This could also be linked to the problems we are having [HERE](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/9), which I will investigate further.

A quick and easy fix for the plotting would be that if any of the points exceed 180 then to -180

[2020-07-07 13:45] edsmall-bodc commented on #32
The issue is being caused by some columns being all NaN for potential temperature of the float. I need to experiment to see what matlab does in this scenario - simply ignoring those points doesn't work (see plots by @kamwal !!)

[2020-07-07 14:11] kamwal commented on #32
![1901847_bug 10theta levels](https://user-images.githubusercontent.com/57108044/86794133-0e748000-c064-11ea-8732-c32cfa3df931.PNG)
![1901847_bug 10theta levels_2](https://user-images.githubusercontent.com/57108044/86794134-0fa5ad00-c064-11ea-881e-e5dfcef5963d.PNG)

[2020-07-07 14:36] kamwal opened #34 "Disagreement in plots of salinities at specific theta levels"
I found that the Python plot of salinities at specific theta levels is giving much different result copared with Matlab version. Plots from Python show much more spikes in both climatology and float data.

[6901121.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4885392/6901121.zip)

Plot from Matlab
![image](https://user-images.githubusercontent.com/5

[2020-07-07 14:52] kamwal commented on #33
Yes I agree, there is also some more issues with longitudes

Left plot  from Python; Right plot  from Matlab

![image](https://user-images.githubusercontent.com/57108044/86799280-afb20500-c069-11ea-92a5-54aacad9e74a.png)

[2020-07-07 15:55] edsmall-bodc commented on #34
I'm going to first try adjusting the axis and presentation to make sure that it is definitely wrong. It could be that something is skewing the image a little.

I'll post them here, and then we can have a look again. Can you email me the mapped salinity, float source, and calibrated salinity?

[2020-07-07 23:46] apswong commented on #31
Hello, "salinity anomaly" in this routine is simply float salinity minus the median value of float salinity:
FLOATSALINITY_anomaly = FLOATSALINITY - FLOATSALINITY_median

It is similar to looking at descriptive statistic terms such as standard deviation, which helps to highlight values that are far from the median.

The plot is done twice: (a) uses the raw float salinity with no adjustment; (b) us

[2020-07-08 09:04] kamwal opened #35 "Error in displying sal_var_plot during using boundaries"
I used the output from Matlab where in set_calseres I set to select data with pressure  below 1000. I used this outut in Python and received the following error, which appeard after generating first 4 plots.

The source mapped and calibration data are in the zip file below:
[1901305.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4889655/1901305.zip)

[2020-07-08 09:06] kamwal commented on #35
After discussion with @edsmall-bodc we found that the error is associated with comparison of matrices in selecting data with required boundary.

[2020-07-08 09:16] edsmall-bodc commented on #31
Hi Annie, glad I was on the right lines! I want to remake some of the code and then pull it in - there's a lot of faff in there that this routine does not need that  I've written.

[2020-07-08 09:31] kamwal commented on #35
I run float 1901305 to try generate float_calib output in Python and I also hit the error. So the source of error can appear earlier in Python code, not necessairly in plotting part.

`Traceback (most recent call last):
  File "L:/users/argo/kamwal/OWC_Python_Test_2/argodmqc_owc/owc_calibration.py", line 81, in <module>
    calc_piecewisefit("/", FLOAT_NAME, USER_CONFIG)
  File "L:\users\argo\kamw

[2020-07-08 09:57] kamwal commented on #35
I run the test for different float for the independent check 5900178:
Code is normally generating float_calib files in Python with the boundary of pressure below 1000 m.
However, similar as in 1901305 during the generating plots in Python, code is crashing after displying first 4 plots.
[5900178.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4889980/5

[2020-07-08 12:23] kamwal commented on #34
I didnt find that kind of issue in any other float that I am testing.

[2020-07-08 12:44] kamwal commented on #34
Another example where there can be spotted some minor disagreement in plots
WMO: 5900178

Data to this float : [5900178.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4891081/5900178.zip)

Upper plot- Python; Lower plot- Matlab
![image](https://user-images.githubusercontent.com/57108044/86926350-d9cafc00-c129-11ea-8391-e67dbe133656.png)

[2020-07-08 12:46] edsmall-bodc commented on #34
Definitely something weird going on here. Attach your mapped salinity, calibrated salinity, and calseries file here in a zip, if you can, for the above float

[2020-07-08 14:03] kamwal commented on #34
[5900178.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4891081/5900178.zip)

[2020-07-09 13:26] edsmall-bodc commented on #21
Fixed in [#36](https://github.com/euroargodev/argodmqc_owc/pull/36)

[2020-07-09 15:24] gmaze commented on #12
Yes, with the current loop design, we can't expect any significant changes before being able to pre-allocate array in memory.

However, we could also try some parallelization of the loop over profiles, gathering a bunch of arrays for each profile and then we would simply sort and concatenate/merge arrays at the end of the process

[2020-07-09 21:52] apswong commented on #12
If CONFIG_MAX_CASTS = n = number of historical profiles used in each mapping, then you'd need a matrix of m x n to put together la_grid_sal, etc, for input into the mapping routine.  m = the maximum length amongst the n number of historical profiles.  You can determine what m is in find_besthist, then pre-assign it in retr_region, instead of appending rows in a loop.

Not sure if this will help or

[2020-07-10 12:19] edsmall-bodc commented on #22
Just a note, the above images are the wrong way round: python output on the right, matlab output on the left.

[2020-07-10 12:38] kamwal commented on #22
In the zip file I included source and mapped file

[1901847.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4903121/1901847.zip)

[2020-07-10 12:43] edsmall-bodc commented on #22
Problem with calculation:

`A[0] = A[0] * y_scale * y_0` should be `A[0] = A[0] * y_scale + y_0`

[2020-07-14 07:21] kamwal opened #36 "Data not appending correctly"
Data used as an example in master branchare different than the source data in my source file.
Below I am including the source file matrix:

[3901960.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4917155/3901960.zip)

[2020-07-14 07:37] edsmall-bodc commented on #36
So just to expand on this to describe the problem:

If you run the routine for a float number (getting all your outputs [mapped salinity, calibrated salinity, etc]) and then, at a later date, run the same float again, but since the last run some data has been added (new profiles), the routine will only run the mapping and calibration for the new data.

However, we are not appending the matrices pr

[2020-07-14 08:31] kamwal commented on #33
I am including data to these floats:
[3901985.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4917545/3901985.zip)
[4901464.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4917546/4901464.zip)
[6901121.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4917547/6901

[2020-07-14 08:39] kamwal commented on #30
I am including data to this float
[2901102.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4917595/2901102.zip)

[2020-07-14 09:30] matdon17 commented on #27
Investigation confirms that current version of OWC Matlab saves as EPS file be default.  Presumably we want the same behaviour.

It has been suggested this could be a new configuration setting to give people the option, rather than making any changes in the code.

[2020-07-14 09:40] matdon17 commented on #30
Within BODC, we have discussed whether the green error bar should be discontinuous or not, despite what is done in the Matlab version.

The argument in favour of it being discontinuous is that there is no calculated error for these profiles, but the display of the interpolated error bar is visually misleading.  The result is the meaning of this element of the plot is not entirely obvious, especial

[2020-07-14 12:03] kamwal commented on #15
I am sending some other examples of data selection:

(1) Here was the same issue with "squareness" of selected data by Python:

[3900560.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4918669/3900560.zip)

Left- Python data; Right- Matlab data

![image](https://user-images.githubusercontent.com/57108044/87423501-53ebfc80-c5d2-11ea-8777-11fe73d017fb.pn

[2020-07-14 12:51] edsmall-bodc commented on #15
The above don't seem to have remotely the same issue, and could easily be a result of the fact that a third of the data is selected randomly (provided it meets the correlation requirements).

The original example provided by @cabanesc has a HUGE amount more data (and the data seems to be taking a curious square like shape).

Hmm! Will continue to investigate!

[2020-07-14 13:10] kamwal commented on #15
This example should be more convincing of some strange "squareness" of selected data:

[3901985.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4918993/3901985.zip)

Left- Python data; Right- Matlab data
![image](https://user-images.githubusercontent.com/57108044/87429289-76cede80-c5db-11ea-90b8-2a3f54293075.png)

[2020-07-14 13:12] edsmall-bodc commented on #15
I suspect that the problem isn't the ellipse at all, but that we are not loading in other WMO boxes, so the random selection has no choice but to confine itself to a single box.

[2020-07-15 08:47] matdon17 commented on #15
@edsmall-bodc whilst that might be true, I'm not sure that would explain the original issue form @cabanesc as her Matlab data selection is entirely within the Python data selection.

In some of the other cases, different data is being selected beyond the initially apparent squareness - in the last example from @kamwal there is data selected all the way in the east coast of the USA, despite the squ

[2020-07-15 08:48] matdon17 commented on #20
Is this a candidate for preallocation of an array?

[2020-07-15 08:49] matdon17 commented on #21
@kamwal @edsmall-bodc if this has been fixed in #36, can this issue be closed?

[2020-07-15 09:00] matdon17 commented on #28
Can this issue be closed now?

[2020-07-15 09:13] #28 closed, assigned to nobody

[2020-07-15 09:14] #21 closed, assigned to nobody

[2020-07-15 09:39] apswong commented on #36
Hello, just want to mention that, yes, when new profiles appear, their maps should be appended to the mapped output.  BUT, the calibration should be run afresh with the complete time series; i.e. the cal output should be overwritten, not appended.

[2020-07-16 02:23] apswong commented on #27
An option to save the figures in png might be a nice thing to do.

[2020-07-16 02:35] apswong commented on #30
That is not entirely true - if no data is displayed on a deep isotherm, it usually means that profile does not go that deep, or the float has moved on to shallower or warmer regions. But as long as part of the profile goes into the least squares fit (from other isotherms that are not displayed), a fit and an error will be computed for that profile.

How you choose to display them in pyowc is anoth

[2020-07-16 11:18] matdon17 commented on #30
Hi @apswong - apologies I was somewhat inaccurate in what I said, and meant to indicate for profiles were a particular isotherm is not present, then there would be no calculated error to display in that instance.

Thanks for the input on the display - knowing the absence of an opinion is as useful as knowing if there is a strong feeling in either direction.

[2020-07-17 10:51] matdon17 commented on #30
Further views welcome, but initial decision is to keep the discontinuous error bar as shown at the beginning of this ticket.  Issue is likely to be tackled in near future.

[2020-07-17 12:19] edsmall-bodc commented on #22
Fixed in https://github.com/euroargodev/argodmqc_owc/pull/40

@kamwal the branch is set up so that you can just run the analysis with the float that caused the issue. When it is confirmed as fix, I will remove the float from the branch before merging

[2020-07-17 15:10] edsmall-bodc commented on #27
Should be fixed in https://github.com/euroargodev/argodmqc_owc/pull/41

The user can set a parameter in the config file to choose their file format. Default is eps.

[2020-07-17 15:18] edsmall-bodc commented on #30
Fixed layering issue here: https://github.com/euroargodev/argodmqc_owc/pull/42

[2020-07-20 12:54] edsmall-bodc commented on #35
I've done some investigating, and I am pretty sure that this issue will be fixed by combining the fixes in a few different pull requests.

The initial issue (borne from find_10_thetas) is a logic issue. We are accidentally removing ALL data in the ptmp/pres matrices, instead of specific data that is out of bounds. This is fixed in https://github.com/euroargodev/argodmqc_owc/pull/36 which has alrea

[2020-07-20 13:48] edsmall-bodc commented on #25
Also might be fixed via https://github.com/euroargodev/argodmqc_owc/pull/40

[2020-07-21 09:57] kamwal commented on #30
After discussion with @matdon17, we agreed that at the moment the green errorbar should be rather continuous.

The first reason for that is to reproduce the exact plot which is generated in Matlab. The way how this plot is created right now is sufficient to use by other DMQC operators. Moreover, there could be many other ways to display/improve that plot. The final decision of changes and improvem

[2020-07-21 15:15] kamwal opened #37 "Set the amount of theta levels plotted"
Currently, the amount of displayed plots (from 1 to 10) can be set in dashboard.py function. The default option is 2.

`
def plot_diagnostics(float_dir, float_name, config, levels=2)
`

Maybe instead of going inside this function and looking for the line where to set the number of displayed theta levels, it would be worth to have that setup in the configuration.py ?

[2020-07-24 13:14] edsmall-bodc commented on #32
@kamwal Can you attach the testing files please?

[2020-07-24 13:26] kamwal commented on #32
I am including data to these floats

[data.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/4972136/data.zip)

[2020-07-25 17:07] edsmall-bodc commented on #30
Continuous bar and rescaled y axis: https://github.com/euroargodev/argodmqc_owc/pull/42

[2020-07-25 17:31] edsmall-bodc commented on #29
Fixed in https://github.com/euroargodev/argodmqc_owc/pull/44

[2020-07-27 09:18] cabanesc commented on #15
Hi Ed,
 I don't know if you could progress on this problem but comparing
find_best_hist.py and find_best_hist.m I wonder if the problem would not
come from the following :
In the matlab program, we start building index_ellipse, the indexes of all
the points in (grid_long, grid_lat) that are inside the ellipse.We then
build the arrays hist_long and hist_lat which contain only the points
inside the

[2020-07-27 09:20] edsmall-bodc commented on #33
This is fixed by [this PR](https://github.com/euroargodev/argodmqc_owc/pull/16) but we need to adjust the CI pipeline to use conda to install cartopy

[2020-07-27 09:34] edsmall-bodc commented on #15
@cabanesc Thank you for that insight, it's made me have a close look in the right place. I think you might be 90% of the way there.. The problem might also be that I need to make index_ellipse be a deep copy of index - will look at it today and let you know!

[2020-07-27 10:58] kamwal commented on #32
After discussion with @edsmall-bodc the fix of this issue should be done by correcting another issue with the global variables.
I have checked these two floats and WMO:

- 1901847- still not working

- 3901531- working well

Error from running 1901847:

[code]

[2020-07-27 13:18] kamwal commented on #34
After discussion with @edsmall-bodc the fix of this issue should be done by correcting another issue with the global variables.
I have checked all 10 theta levels from matlab and python outputs, respectively. Both Matlab and Python code is selecting the same theta levels, however the displayed data by both software still disagreed.
More investigations in this issue is still required.

[2020-07-27 14:43] kamwal commented on #25
After consultation with @edsmall-bodc I have tested the configuration.py for max_break from 0 to 4. After testing a few floats I have found a strange behaviour when for some floats I can use max_break from 0 to 3 and for others not.

In detailed check, I have found that the max_break setting is working if the max_break in configuration.py script is set to be larger than those automatically estimat

[2020-07-28 08:41] kamwal opened #38 "Correct size of saved plots"
The plots generated by Python are very squeezed or in some places, the plots are cut off. It would be good to adjust the size of the saved plots.

Examples:
The plot is very squeezed, axis x is overlapped with title fo another subplot, the title is cut.
![image](https://user-images.githubusercontent.com/57108044/88640146-83603600-d0b5-11ea-85fc-8fd43008dde4.png)

The plot is very squeezed and diff

[2020-07-30 06:12] edsmall-bodc commented on #25
Can you attach the floats source, mapped salinities, and calseries files please? Need to check these outputs

[2020-07-30 10:45] kamwal commented on #25
I am including data you asked for. All of data has been set to max brake 4.
[data.zip](https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/files/5000730/data.zip)

[2020-07-30 19:00] edsmall-bodc commented on #25
I think I have fixed this.

This bug technically exists in matlab too, but because of the way matlab handles matrices it doesn't pop up

The variable b_A in fit_cond is set up in such a way that if the maximum number of breaks set by the user is lower than the number of breaks that the software would have calculated, b_A has too few columns to fit in values.

Matlab creates new columns out of thin

[2020-07-31 12:38] kamwal commented on #25
I can confirm that issue with setting max_breaks has been fixed

[2020-07-31 13:17] kamwal commented on #26
After corrections applied by @edsmall-bodc this issue has been fixed.

[2020-08-05 07:35] #25 closed, assigned to nobody

[2020-08-05 07:37] #30 closed, assigned to nobody

[2020-08-05 07:37] #29 closed, assigned to nobody

[2020-08-05 07:38] #24 closed, assigned to nobody

[2020-08-05 07:39] #22 closed, assigned to edsmall-bodc

[2020-08-05 09:26] edsmall-bodc commented on #23
This error is causing this issue:

![image](https://user-images.githubusercontent.com/55086028/89396115-12003300-d706-11ea-96d4-58d6d6e7e6e2.png)

[2020-08-05 11:32] edsmall-bodc commented on #23
Much better:

![image](https://user-images.githubusercontent.com/55086028/89407920-84c5da00-d717-11ea-8923-7f26a0e063b2.png)

- Error was caused by: using a deprecated function for finding the inverse of a matrix
- Taking square root of a mtrix incorrectly (eg doing dot(A - B)^2 instead of dot(A - B^2))

[2020-08-05 11:42] edsmall-bodc commented on #32
Quite a simple fix, but revealed that the big had a slight link to https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/23

If we find no good data on a certain level, we should just move onto the next level.

[2020-08-06 08:09] kamwal commented on #12
On of the approach to improve the speed of calulations is to replace current mechanism of running multiple floats in sequence by running multiple floats in parallel.
Our current test of speed comparison between both methods of calulations showed that in running 4 floats with around 150 profiles each the use of the parallel method of calulations of floats is about 1.4 x quicker that running floats

[2020-08-06 09:01] kamwal commented on #32
After testing the fixes provided by @edsmall-bodc,  this issue is not appearing anymore and data in calseries much better represent the results from Matlab output.

[2020-08-06 09:10] kamwal commented on #23
The fixes used in https://github.com/euroargodev/User-Acceptance-Test-Python-version-of-the-OWC-tool/issues/32 also decreased the error differences in error calulations: cal_SAL_err, cal_COND_err and _ pcond_factor_err_. Maximum differences between matlab and Python for error calulations are:

- cal_SAL_err: 0.002

- cal_COND_err: 0.0015

- pcond_factor_err: 3.8215e-05

Moreover, there is no more

[2020-08-07 11:03] #27 closed, assigned to nobody

[2020-08-07 11:07] kamwal opened #39 "Allow Python code to display all plots in PyCharm"
As an additional improvement that would be nice to have it so allow the Python code to automatic display all generated plots in the Pycharm. At the moment, to display and generate another plot in PyCharm I need to manually close the previously displayed plot.

[2020-08-07 12:31] kamwal commented on #35
This issue has been fixed and merged to master branch

https://github.com/euroargodev/argodmqc_owc/pull/36

[2020-08-07 12:31] #35 closed, assigned to nobody

[2020-08-07 12:33] #26 closed, assigned to nobody

[2020-08-07 13:00] kamwal commented on #20
The investigations showed that the smaller size of the matrix, is not affecting the calculations or the visualisation of data.

[2020-08-07 13:00] #20 closed, assigned to nobody

[2020-08-07 13:04] kamwal commented on #33
@gmaze Please, could you change the pipeline to use conda to install cartopy and harmonica?

[2020-09-02 13:04] kamwal commented on #31
The missing plot now has been added to the code. I think it is very nice.
Left- Python code, Right- Matlab code

![image](https://user-images.githubusercontent.com/57108044/91986613-d23c6380-ed24-11ea-8a3a-91526a36228c.png)

[2020-09-02 13:07] Teddyzander commented on #31
y axis scales are selected in the configuration set up. There's a new section of parameters called "Plot Parameters". This is so that people don't need to dig around in the actual code to change plots. We can add more parameters here, if we wish. It also means that the configuration for plots can be changed dynamically between different analysis.

[2020-09-02 13:08] edsmall-bodc commented on #31
Sorry, the above is my personal account!

[2020-11-04 08:06] kamwal commented on #31
The plot was added to the master branch

[2020-11-04 08:06] #31 closed, assigned to nobody

[2020-11-04 08:07] kamwal commented on #23
The branch with the fix has been merged to the master branch

[2020-11-04 08:07] #23 closed, assigned to nobody

[2020-11-04 08:08] kamwal commented on #32
The issue has been fixed and merged to the master branch

[2020-11-04 08:08] #32 closed, assigned to nobody

[2021-01-19 14:37] kamwal commented on #34
The issue with the disagreement of plots plotted at the same theta levels has been identified.
The branch with the fix is available in branch:
https://github.com/euroargodev/argodmqc_owc/tree/kamwal/disagre_theta

Plots from Python:
![image](https://user-images.githubusercontent.com/57108044/105048022-fb0a8e80-5a62-11eb-9d35-4ececc620f8b.png)
![image](https://user-images.githubusercontent.com/5710

[2021-01-19 15:00] kamwal commented on #34
In testing the code using example  WMO 5900178 the plots from both matlab and Python looks very similar now
Upper plot - Python, Lower plot - Matlab

![image](https://user-images.githubusercontent.com/57108044/105051758-fcd65100-5a66-11eb-9d7b-c4a8b1a5bead.png)

[2021-02-01 10:11] kamwal commented on #15
This issue has been fixed and merge to master branch:
[fix branch](https://github.com/euroargodev/argodmqc_owc/pull/49)

[2021-02-01 12:43] #15 closed, assigned to nobody

[2021-02-01 14:59] kamwal commented on #34
The issue has been solved and merged to master branch [git merge ](https://github.com/euroargodev/argodmqc_owc/pull/50)

[2021-02-01 14:59] #34 closed, assigned to nobody

[2021-02-09 16:14] kamwal commented on #38
This improvement has been made using the [fix](https://github.com/euroargodev/argodmqc_owc/pull/52)

[2021-02-09 16:14] #38 closed, assigned to nobody

[2021-02-09 16:15] kamwal commented on #9
The issue with t_base decoder has been fixed using the [fix](https://github.com/euroargodev/argodmqc_owc/pull/52)

[2021-02-09 16:15] #9 closed, assigned to nobody

[2021-02-11 07:46] kamwal commented on #39
This issue has been transferred to [argodmqc_owc](https://github.com/euroargodev/argodmqc_owc/issues)

[2021-02-11 07:46] #39 closed, assigned to nobody